%footer.footer
  .row
    .small-12.medium-6.large-5.columns
      %p.logo
        %i.material-icons face
        Kyle Hotchkiss
      %br
      %p.footer-links
        %a{:href => "#"} Work
        %a{:href => "#"} Courses
        %a{:href => "#"} Projects
        %a{:href => "#"} Blog
        %a{:href => "#"} Faq
        %a{:href => "#"} Contact
      %p.copywrite Kyle Hotchkiss © 2016
    .small-12.medium-6.large-4.columns
      %ul.contact
        %li
          %p
            %i.material-icons location_city
            Berkeley, California
        %li
          %p
            %i.material-icons phone
            +1-916-835-7434
        %li
          %p
            %i.material-icons email
            khotchkiss13@berkeley.edu
    .small-12.medium-12.large-3.columns
      %p.about About Kyle Hotchkiss
      %p.about.subheader I am a Senior Electrical Engineering and Computer Science major at UC Berkeley.
      %ul.inline-list.social
        %a{:href => "https://www.facebook.com/Khotchkiss13"}
          %i.fi-social-facebook
        %a{:href => "https://twitter.com/khotchkiss42"}
          %i.fi-social-twitter
        %a{:href => "https://www.linkedin.com/in/kyle-hotchkiss-030a04112"}
          %i.fi-social-linkedin
        %a{:href => "https://github.com/khotchkiss13"}
          %i.fi-social-github
        =link_to new_user_session_path do
          %i.fi-home
