#main-menu.top-bar
  .top-bar-left
    %ul.menu{"data-dropdown-menu" => ""}
      %li
        %a{:href => "/"} Kyle Hotchkiss
  .top-bar-right
    %ul.menu{"data-responsive-menu" => "drilldown medium-dropdown"}
      %li
        %a{:href => "#"} Work
      %li
        %a{:href => "#"} Courses
      %li
        %a{:href => "#"} Projects
      %li
        %a{:href => "#"} Blog
      - unless current_user.nil?
        %li.has-submenu
          %a{:href => "#"} Admin
          %ul.submenu.menu.vertical{"data-submenu" => ""}
            %li
              =link_to "Log Out", destroy_user_session_path, :method => :delete
