$menu-background: #fff;

.title-bar {
  background: $menu-background;
  padding: 0.9rem;
}

.top-bar {
  background: $menu-background;

  ul {
    background: $menu-background;

    li {
      background: $menu-background;

      a {
        color: #CCCCCC;
        text-transform: uppercase;
        font-size: 14pt;
        &:hover {
          color: #FFCC66;
        }
      }
    }
  }
}

.menu-text {
  color: #FFC107;

  @media only screen and (max-width: 40em) {
    display: none !important;
  }
}

.dropdown.menu .submenu {
  border: 1px;
}

.dropdown.menu .is-dropdown-submenu-parent.is-right-arrow>a::after {
  border-color: #000 transparent transparent;
}

.is-drilldown-submenu-parent>a::after {
  border-color: #000;
}

.js-drilldown-back::before {
  border-color: #000;
}
